{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang-pt-br>
    <head>
        {% include 'head_meta.html' %}
        <link rel="stylesheet" href="{% static 'app/form.css' %}" />
    </head>
    
    {% if user.is_authenticated %}
        <body>

            {% include 'elements/admin/nav.html' %}

            <form id="form" method="post" action="" autocomplete="off" class="box"> 
                {% csrf_token %}
                {% render_field file_form.name class="input" placeholder='Nome do arquivo' %} <br/>
                {% render_field file_form.sender class="input" placeholder='Nome do remetente' %} <br/>
                {% render_field file_form.curator class="input" placeholder='Selecione' %} <br/>
                {% render_field file_form.content class="input" id="content" placeholder='Selecione' %} <br/>
                {% render_field file_form.uploadDate class="input" placeholder='dd/mm/yyyy' type='date' %} <br/>
                <input type="submit" class="button" value="Enviar" />
                <input type="reset" class="button" value="Limpar" />
            </form>
            

            <br/>
            <br/>
            <br/>

            <form class="box" hx-trigger="submit" autocomplete="off" hx-get="/search/" hx-target="#table-space">
                <input name="q" type="text" placeholder="Search here" class="input" />
                <input type="submit" class="button is-dark" value="Search" />
                <input type="reset" class="button is-dark" value="Clear" hx-trigger="click" hx-target="#table-space" hx-get="/search/?q= " />
            </form>

            <div class="table-container" id="table-space">
                {% include 'elements/admin/table.html' %}
                <br/>
            </div>
    
    </body>
    {% else %}
        <script type="text/javascript">
            window.location.replace("/accounts/login")
        </script>
    {% endif %}
</html>