{% load widget_tweaks %}

<!DOCTYPE html>
<html lang-pt-br>
    {% include 'head_meta.html' %}

    <div class="space">
    </div>
    
    <div class="space">
        <body>
            <form id="form" method="post" action="" autocomplete="off" onsubmit="this.preventDefault(); this.submit(); this.reset()"> 
                {% csrf_token %}
                {% render_field file_form.name placeholder='Nome do arquivo' %} <br/>
                {% render_field file_form.senderName placeholder='Nome do remetente' %} <br/>
                {% render_field file_form.curator placeholder='Selecione' %} <br/>
                {% render_field file_form.semester placeholder='Selecione' %} <br/>
                {% render_field file_form.content placeholder='Selecione' %} <br/>
                {% render_field file_form.uploadDate placeholder='dd/mm/yyyy' type='date' %} <br/>
                <input type="submit" />
            </form>
            
        </div>

        <div class="space">
            <p>
                {{ content }}
            </p>
        </div>
    
    </body>

</html>