* {
    padding: 0;
    margin:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input{
    z-index: 0;
    width: 100%;
    margin-top: 1%;
}

.button{
    margin-top: 1%;
}

table {
    margin-top: 5%;
    margin-bottom: 40%;
    text-align: center;
}